.post
{
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    height: auto;
    background-color: #babbbd;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post p{
    text-align: left;
font-size: 20px;
    color: black;
}

.post img
{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.user
{
    width: 100%;
    position: relative;
    left:20%;
    margin-bottom: 10px;
}


.user span
{
    margin-right: 20px;

}