.post {
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    height: auto;
    background-color: #babbbd;
    margin-bottom: 20px;
    border-radius: 10px;
}

.post p {
    text-align: left;
    font-size: 20px;
    color: black;
}

.post .user img {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 5%;
}

.user {
    width: 100%;
    position: relative;
    left: 5%;
    margin-bottom: 10px;
}


.user span {
    position: relative;
    bottom: 10px;
    font-size: 20px;
    margin-right: 3% ;

}